cloud.jimcoggeshall.com {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Content-Security-Policy "default-src * wss: blob: data: 'unsafe-inline' 'unsafe-eval'"
        -Server
    }
    route {
        file_server {
            root /var/www/cloud.jimcoggeshall.com
            browse
        }
    }
}

draw.coggeshall.io {
    header {
        +Content-Security-Policy "frame-ancestors 'self' https://broadcast.jimcoggeshall.com"
        -Server
    }
    route {
        reverse_proxy localhost:8080
    }
}

wb.draw.coggeshall.io {
    redir https://draw.coggeshall.io/boards/{file}
}
